.status-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  opacity: 0.6;
}
.status-bar i {
  font-size: 14px;
}

.status-bar .status-bar__battery-full {
  margin-left: 5px;
}

.status-bar-screen {
  background-image: url("../images/chatBG.png");
  margin: 0px;
  opacity: 1;
  height: 34px;
  align-items: center;
}
